*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  text-rendering: optimizeLegibility;
}

.homepage-container {
  background: url(../images/silo5.jpg) no-repeat;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.homepage-container .homepage-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage-container .homepage-overlay .homepage-content {
  margin-top: 150px;
  margin-bottom: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .homepage-container .homepage-overlay .homepage-content {
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
}

.homepage-container .homepage-overlay .homepage-content .homepage-content-inner {
  max-width: 600px;
  width: 100%;
  margin: 0 10vw;
  line-height: 1.6em;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .homepage-container .homepage-overlay .homepage-content .homepage-content-inner {
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .homepage-container .homepage-overlay .homepage-content .homepage-content-inner {
    -webkit-box-shadow: 9px 13px 200px 0px #fafafa;
            box-shadow: 9px 13px 200px 0px #fafafa;
  }
}

.homepage-container .homepage-overlay .homepage-content .homepage-content-inner .homepage-bio {
  color: #fff;
  margin-top: 30px;
}

.homepage-container .homepage-overlay .homepage-content .homepage-content-inner .homepage-bio-icons {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  font-size: 1.5em;
}

.profile-container {
  margin-top: 130px;
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-container .profile-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px;
  max-width: 600px;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .profile-container .profile-container-inner {
    font-size: calc(12px + 4 * ((100vw - 320px) / 680));
  }
}

.profile-container .profile-container-inner .profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.profile-container .profile-container-inner .profile-bio p {
  line-height: 1.7em;
}

.profile-container .profile-container-inner .profile-resume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.profile-container .profile-container-inner .profile-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

.profile-container .profile-container-inner .profile-skills h4 {
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

.profile-container .profile-container-inner .profile-skills .profile-skills-list {
  list-style-type: square;
}

.profile-container .profile-container-inner .profile-skills .profile-skills-list .profile-skills-list-item {
  margin-bottom: 10px;
}

.profile-container .profile-container-inner .profile-skills .profile-skills-list .profile-skills-list-item .profile-skills-item-title {
  font-weight: 700;
}

.profile-container .profile-link {
  font-weight: 700;
  text-decoration: underline;
  color: #000;
}

.profile-container .profile-link:hover {
  cursor: pointer;
  color: #707070;
}

.contact-container {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.contact-container .contact-form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-container .contact-form-container form input, .contact-container .contact-form-container form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid;
}

.contact-container .contact-form-container form .contact-form-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-form-container form .contact-form-button-container button {
  background-color: #4d4d4d;
  border: 1px solid #000;
  padding: 10px;
  color: #fff;
  font-family: monospace;
  width: 100px;
  cursor: pointer;
}

.contact-container .contact-form-container form .contact-form-button-container button:hover {
  background-color: grey;
}

.contact-container .submitted-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .loading-wheel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container {
  background: #fff;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */